REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_SITE_URL=https://circuits.quantumlogicslimited.com
REACT_APP_GA_MEASUREMENT_ID=
REACT_APP_GOOGLE_SITE_VERIFICATION=
REACT_APP_BING_SITE_VERIFICATION=
